/* Reset styles */
body, h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 20px;
}

.logo img {
    width: 120px; /* Adjust the size as needed */
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation li {
    margin-right: 20px;
}

.navigation a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.signin-btn {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Main section styles */
.main {
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/a1dc92ca-091d-4ca9-a05b-8cd44bbfce6a/f9368347-e982-4856-a5a4-396796381f28/RS-en-20191230-popsignuptwoweeks-perspective_alpha_website_large.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
}

.main h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.main h3 {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.email-input {
    width: 300px;
    padding: 10px;
    border: none;
}

.try-btn {
    background-color: #e50914;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 10px;
}

.ready-to-watch {
    font-size: 1rem;
}

/* Footer styles */
.footer {
    background-color: #000;
    padding: 30px 20px;
    color: #999;
}

.footer-content {
    display: flex;
    justify-content: space-around;
}

.footer-links ul {
    list-style: none;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #999;
    font-size: 14px;
}

/* End section styles */
.end {
    background-color: #000;
    color: #999;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.end h2 {
    font-size: 16px;
}
